*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-image_2571308.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container{
    position: relative;
}

.clock-container{
    width: 400px;
    height: 400px;
    border-radius:50% ;
    background-color: rgba(255,255,255,0.15);
    border: 3px solid #fafcfd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 8px #fafcfd;
    backdrop-filter: blur(5px);
}

.clock-container span{
    transform: rotate(calc(30deg * var(--deg)));
    position: absolute;
    inset: 20px;
    font-size: 20px;
    text-align: center;
}

.clock-container span b{
    transform: rotate(calc(-30deg * var(--deg)));
    display: inline-block;
}

.clock-container::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 2;

}

.clock-container div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.clock-container div i{
    position: absolute;
    width: 5px;
    height: var(--h);
    border-radius: 40%;
    background-color: var(--clr);
}

